.hoverStyle:hover{
  cursor pointer
  color #6993BC
}

.floatLeft{
  float left
}
.floatRight{
  float right
}

.fontSize14{
  font-size 14px
}
.fontSize16{
  font-size 16px
}
.fontSize22{
  font-size 22px
}

.fontColor{
  color #989898
}
.fontWhite{
  color white
  text-decoration none
}
.marginTop20{
  margin-top 20px
}
.marginRight20{
  margin-right 20px
}
.marginLeft20{
  margin-left 20px
}

.cleatFloat{
  clear both
  width 100%
  height 0px
}
.pagina{
  display flex
  margin-top 30px
  padding-bottom 30px
}

/*去掉谷歌，火狐下的type="number"中的右边箭头*/
input:-webkit-outer-spin-button,
input:-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
/*去掉谷歌，火狐下的type="number"中的右边箭头（2019-7-1新增）*/
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
  -webkit-appearance: none !important;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.btn-custom-ok{
  float:right;
}
.btn-custom-cancel{
  margin-left: 10px;
  float:right;
}

  //查询里的多选
.checkedStyle{
  line-height 40px
}
  //table右对齐

.tableToRight tr td:nth-of-type(1){
  text-align right
}
.tableToRight tr td:nth-of-type(3){
  text-align right
}





//去掉table el-input 的border
.tableBorderGone>tr>td input{
  border none
}
.tableBorderGone>tr>td textarea{
  border none
}
//去掉颜色后加个颜色区分，和  tableBorderGone搭配使用
.tableColor>tr>td input,textarea:nth-of-type(even){
  color steelblue
}
.tableColor>tr>td textarea{
  color steelblue
}

//table里面点击图片查看大图
.productImg {
  width 100%;
  height:60px;
  cursor:pointer;
}

  //以下为重写新增后的变动

//创建项目
.createAlert {
  width: 25%;
  margin-bottom: 2px;
  display: inline-block;
  margin-left: 20px;
  height 100%;
  line-height 100%;
  margin-right 0;
  float: right
}
.keyTieleMsg{
  background-color: #DAE9F7;
  color: #135294;
  padding: 5px;
  font-size 14px;
  text-align center
}
.creatProject {
  font-size 14px
  border: solid 1px #D3E3F3;
  min-width: 1100px;
  margin 10px
  margin-top 0
}

.creatProject-title {
  height: 40px;
  line-height: 40px;
  border-bottom: solid 1px #D3E3F3;
}

.creatProject-title > span {
  display: inline-block;
  padding: 0 8px;
  margin-left: 20px;
  text-align: center;
  height: 100%;
  color: #39618F;
  border-bottom: solid 2px #39618F;
  box-sizing: border-box;
}

.creatProject-main {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

.creatProject-chose {
  width: 100%;
  height: 110px;
  background: #D3E3F3;
  font-size 14px
}

.projectTable {
  width: 100%;
}

.projectTable tr td {
  text-align: right;
  padding-right: 15px;
  line-height: 50px;
}

.projectTable2 {
  width: 100%;
  font-size 14px
}

.projectTable2 tr td {
  line-height: 50px;
}

.projectTable2 tr td:nth-of-type(1) {
  width: 130px;
  text-align: right;
  padding-right: 20px;
}

.projectTable2 tr td:nth-of-type(3) {
  width: 130px;
  text-align: right;
  padding-right: 20px;
}

.creatProject-handChose {
  width: 100%;
  height: 30px;
  margin-top: 15px;
}

.creatProject-write {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}

/* 按钮（可以提到公共） */
.mybutton {
  width: auto;
  padding: 6px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #6992BD;
  background: #D0E1F5;
}

.creatProject-write {
  margin-top: 20px;
}

.tipgongs {
  position absolute;
  font-size: 12px;
  color: #E76677;
  width: 300px;
  top: 0;
  height 10px;
}
#creatProject{
  min-width 1100px;
}

.keyTieleMsg{
  background-color: #DAE9F7;
  color: #135294;
  padding: 5px;
  font-size 14px;
}

.styleCreatSavaBtn{
  width: 15%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px
}



